@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-grid {
  justify-content: center;
  align-content: center;
  display: grid;
  width: 100%;
  gap: 25px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 310px 310px;
}

.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}

.card h4 {
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1;
}
.card p {
  font-weight: 300;
  font-size: 1.04rem;
  line-height: 1.2;
  z-index: 1;
}

.purple {
  position: relative;
  background-color: #733fc8;
  grid-column: 1/3;
}
.pattern {
  position: absolute;
  top: 0px;
  right: 65px;
  z-index: 0;
  width: 115px;
}

.gray {
  background-color: #49556b;
}

.white {
  background-color: #fff;
  grid-row: 2/3;
  color: #515a64;
}
.white h4 {
  font-size: 1.538rem;
}

.dark {
  background-color: #191f2d;
  grid-row: 2/3;
  grid-column: 2/4;
  color: #ccd1d8;
}
.dark p {
  font-size: 0.99rem;
}

.white2 {
  background-color: #fff;
  color: #4c515a;
  grid-row: 1/3;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}

.profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.profile p {
  font-size: 0.8rem;
  opacity: 0.8;
}
