.box{
    padding: 50px,50px;
    Width: 300px;
    Height: 500px;
    background-color: hsl(0, 0%, 30%);
}

.button{
    padding: 0px 15px;
    font-size: 3.5em;
    border-radius: 5px;
    cursor: pointer;
    margin: 2%;
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;
    border: 0px;
    transition: background-color, 0.25s;
    transition: font-size 0.15s;
}
#button0{
    margin-left: 110px;
}

.button:hover{
    background-color: hsl(0, 1%, 27%);
}

.button:active{
    background-color: black;
    font-size: 3em;
}