@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(30, 54%, 90%); 
  color: hsl(30, 10%, 34%); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#Container {
  width: 100%;
  max-width: 800px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.recipe-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Young Serif', serif;
  font-size: 2rem;
  color: hsl(24, 5%, 18%); 
  font-weight: 400;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Young Serif', serif;
  font-size: 1.5rem;
  color: hsl(14, 45%, 36%); 
  margin-bottom: 10px;
  margin-left: 5px;
}

.prep-time {
  font-size: 1rem;
}

.prep-time ul{
    border: none;
}
  

.ingredients{
  margin-bottom: 20px;
  margin-left: 50px;
}

.ingredients li, .instructions li {
  margin-bottom: 10px;
}

.nutrition-info {
  font-size: 1rem;
  margin-bottom: 10px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  background-color: hsl(30, 18%, 87%);
  border-radius: 5px;
}

.nutrition-table th, .nutrition-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid hsl(0, 0%, 92%);
  background-color: hsl(0, 0%, 100%); 
}

.nutrition-table td {
  color: hsl(14, 45%, 36%); 
  font-weight: bold;
}

.nutrition-table th {
  color: hsl(30, 10%, 34%); 
}

.nutrition-table tr:hover {
  background-color: hsl(330, 100%, 98%);
}

ol::marker, ul::marker {
  font-weight: bold;
}

#prep {
  background-color: hsl(322, 100%, 98%); 
  padding: 15px;
  margin-bottom: 15px;
}

#prep li {
  padding: 5px;
  margin-left: 55px;
  border-radius: 25px;
  margin-bottom: 15px;
}

ul, ol {
  border-bottom: 1px solid hsl(0, 0%, 92%);
  margin-bottom: 5px;
}

strong {
  font-weight: 700;
}

.instruction {
  padding-bottom: 15px;
  margin-left: 15px;
}